[BACKUP]

BACKUP_SITE=mysite

#BACKUP_DIR=C:\backup

#BACKUP_WEBSITE_DLL=mysite*.dll

#BACKUP_WEBSITE_RESOURCE_LIST=mysite_resource

#BACKUP_WEBSITE_DIR=C:\inetpub\wwwroot

#BACKUP_DATABASE=1

#BACKUP_DATABASE_SERVER=(local)\SQLExpress

#BACKUP_DATABASE_LIST=%BACKUP_SITE%Sitecore_Core,%BACKUP_SITE%Sitecore_Master,%BACKUP_SITE%Sitecore_Web

#BACKUP_COMPRESS_ZIP=1

#BACKUP_ROTATE_WEEK=1

#BACKUP_KEEP_MONTH=1
